<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="../static/finalprojectstylesheet.css">
</head>
<body>
<!--   <form class="" action="{{url_for('thankyou')}}" method="POST">
<input type="text"> 
<input name="email_name" type="email" required>
<label for="height">Height:</label>
<input name="height_name" id="height" type="number"min="0" max="200" placeholder="height in cm">
<label for="weight">Weight:</label>
<input name="weight_name" id="weight" type="number"min="0" max="200" placeholder="weight in lb">

<button style="height: 40px;width: 60px;"    submit> Click Here  </button>


    </form> -->

    <div class="pinkbox">
        <h1 >Lets Explore Italy</h1>
        <div style="text-align: right;">
            <img src="../static/images/murano1.jpg" class="image1" width="300px" height="200px" alt="Murano">
            <p style="color: blueviolet;font-size: 35px;text-align: center;"> Landscapes that will take your breath away, rich history, and delicious food, your trip to Italy will be nothing short of unforgettable</p>
        </div>
        <br><br><br><br><br><br>
        <div style="text-align: left;">
            <img src="../static/images/burano1.jpg" class="image2" width="300px" height="200px" alt="Burano">
            <p style="color: blueviolet;font-size: 30px;text-align: center;   "> Home to many of the world's greatest works of art, architecture and gastronomy, Italy elates, inspires and moves like no other
               </p>
        </div>
<br><br><br><br><br>

        <p>Test</p>
<!---Product Row-->
        <div class="herobox">
                <h1>  </h1>
       <!--Product 1-->
         <div>
       <div   class="productbox1">     
        <h1>  Explore Venice </h1>
        <img src="../static/images/italy.jpg" alt="Italy">
        <Br><Br><Br><Br>
        <a href="#product1" class="btn1" >   Submit your information to Learn More </a>

        </div>
    </div>
    <!-- - Part 2 -Modal window link -->

           

    <div id="product1" class="muranowindow" >
        <div class="msgbox" style="background-color:pink; border-style: double;border-color: black;border: 12px;height: auto;width: auto;margin-left: 250px;">
            <h1>Let us help you discover Italy</h1>
             <img src="../static/images/burano1.jpg" alt="Burano">
            <p>
                <form class="" action="{{url_for('thankyou')}}" method="POST">
                    <label for="text">Provide your Name:</label>
                    <input name="text"> <br><br>
                    <label for="email_name">Provide your Email:</label>
                    <input name="email_name" type="email" required> <br><br>
                    <label for="phone">Provide your Phone #:</label>
                    <input name="phone_name" type="tel">
                   <!--- <label for="weight">Weight:</label>-->
                   <!--<input name="weight_name" id="weight" type="number"min="0" max="200" placeholder="weight in lb">-->
                    <br><br><br>
                    <button style="height: 60px;width: 80px;"    submit> Click Here to Submit  </button>
                                        
                        </form>
                
                
                
                
                
                </p>
            <a href="#" style="font-size: large">Click Here to Continue to Explore Italy</a>   
        </div>
    </div>



    </div>






</body>
</html>